.login-form{
  background-color:#f9f9f8;
  padding: 2%;
  border-radius: 1%;

    &__logo{
      background-image: url('https://datafox-data.s3-us-west-1.amazonaws.com/images/cb_9236c1694476c541c257da2e20090938.png');
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
    }
}