.users-container{
  background-color: #f9f9f8;
  padding: 2%;
  border-radius: 1%;

  &__heading{
    color:#3871d9;
  }

  &__users-list{
    border: 1px solid #3871d9;
    &__heading{
      background-color:#7479e9;
      color: #f9f9f8;
      padding: 1%;
    }
  }
}